.registerForm{
    display: grid;
    grid-row-gap: 5px;
    justify-content: center;
    width: 100px;
    word-wrap: break-word;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}